body{
    background: black;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.About-me{
    background: white;
    width: 100px;
    padding: 200px;
    border-radius: 20px;
    text-align: center;
}

img{
    position: relative;
    border-radius: 50%;
    top: -150px;
    left: -20px;

}
